@use "partials/nouvelle_template";
@use "partials/page_accueil";
@use "partials/missingPage.scss";
@use "partials/page_faq";
@use "partials/page_equipe";
@use "partials/page_a_propos";
@use "partials/page_histoire";
@use "partials/header";
@use "partials/footer";
@use "partials/hero_generique";
@use "partials/description_generique";
@use "partials/colorsVar" as col;

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif !important;
  width: 100vw;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
