.notFound{
    width:100vw;
    height:100vh;
    top:80vh;
    padding-top:10%;
    &__wrapper{
        height:100%;
        position:absolute;
    }
}

.titleChar{
    font-size:50px;
    display:inline-block;
}