$Asperge: #70B074;
$VertFor: #518154;
$BleuCol: #BFD7EA;
$GrisArd: #1A3A3A;
$Blanc: #FFFFFF;
$Noir: #000;
$Aero: #3DBEE3;
$Cyan: #DBFCFF;

/* tag colors here IN HEX*/

$red: #e33d3d;
$orange: #E38D3D;
$yellow: #e3d83d;
$green: #43e33d;
$blue: #3d56e3;
$violet: #b43de3;