@use "colorsVar" as col;

.about_text{
    margin: 150px 150px;
    margin-bottom: 0px;
}

.section1_title{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color: col.$Asperge;
    margin-bottom: 20px;
}

.section1_paragraph{
    font-size: 18px;
}

.sponsor{
    text-align: center;
}

.sponsor_title{
    font-size: 36px;
    color: col.$Asperge;
}

.oaq{
    margin-top: 20px;
}

.statistic{
    text-align: center;
}

.statistic_title{
    font-size: 36px;
    color: col.$Asperge;
    font-weight: bold;
}

.mission_section{
    margin: 0 auto;
    border-radius: 20px;
    width: 80vw;
    height: 500px;
    margin-top: 40px;
    background-color: col.$BleuCol; 
}

.mission_vision{
    background-color: gray;
    border-radius: 20px;
    margin: 0 auto;
    height: 40%;
    width: 90%;
}

.mission_title{
    font-size: 36px;
    font-weight: bold;
    display: block;
}

.mission_text{
    font-size: 18px;
    font-weight: bold;
}

.mission{
    width: 50%;
}
.vision{
    width: 50%;
}