.hero{
    width:100%;
    height:100%;
    margin-top: 104px;
    &__container{
        width:100%;
        height:100%;
    }
    &__img{
        background-image: url("/sources/medias/06_equipe/image_hero.jpg");
        background-size:cover;
        height:55vmin;
        background-position: center;
        z-index: 2;
        position:relative;
    }
}
