@use "colorsVar" as col;
@use "fontSizeVar" as ft;

//HERO
.swiperProject {
  position: relative;
  z-index: 1;
}
.hero {
  overflow: hidden;
  width: 100%;
  margin-top: 104px;
  background-color: col.$BleuCol;
  &__wrapper {
    width: 100%;
  }
  &__info {
    overflow: hidden;
    font-size: ft.$text;
    background-color: col.$BleuCol;
  }
  &__text {
    padding: 20px;
    margin: 20px 0;
  }
  &__image {
    background-image: url("../assets/img/hero.png");
    background-size: cover;
    height: 45vmin;
    background-position: center;
    z-index: 2;
    position: relative;
    &__gradient {
      background-image: linear-gradient(
        to right,
        rgba(191, 215, 234, 0),
        rgba(191, 215, 234, 0.1),
        rgba(191, 215, 234, 0.534),
        rgb(191, 215, 234)
      );
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero__image__gradient {
    background-image: linear-gradient(
      to bottom,
      rgba(191, 215, 234, 0),
      rgba(191, 215, 234, 0.1),
      rgba(191, 215, 234, 0.534),
      rgb(191, 215, 234)
    );
  }
}

.swiper-pagination-bullet {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: col.$Noir;
  opacity: 1 !important;
  background: col.$Blanc !important;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  background: col.$GrisArd !important;
}

//PROJECTS

.projects {
  width: 100%;
  position: relative;
  background-image: url("/sources/medias/01_accueil/projets_background.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  background-color: col.$Asperge;
  &__wrapper {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: relative;
  }
  &__title {
    font-size: ft.$title1;
    font-weight: bold;
    color: col.$GrisArd;
  }
  &__item {
    height: 70vmin;
    position: relative;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__image {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    display: block;
  }
  &__name {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: col.$Blanc;
    font-size: ft.$title1;
    font-weight: 800;
    padding: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .projects {
    background-image: url("/sources/medias/01_accueil/projets_background_sm.png");
    &__name {
      font-size: ft.$text;
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .projects {
    &__name {
      font-size: ft.$title3;
    }
  }
}

//ACTUALITÉS

.actuality {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: col.$BleuCol;
  &__title {
    font-size: 32px;
    font-weight: bold;
    color: col.$GrisArd;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__swiper {
    position: relative;
    overflow: hidden;
  }
  &__img {
    &__source {
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &__gradient {
      background-image: linear-gradient(
        to right,
        rgba(191, 215, 234, 0),
        rgba(191, 215, 234, 0.1),
        rgba(191, 215, 234, 0.534),
        rgb(191, 215, 234)
      );
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.swiperActIMG {
  z-index: 2;
}
.swiperActTXT {
  right: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .actuality__img__gradient {
    display: none;
  }
}

.swiper-button-prev::after {
  content: " " !important;
}
.swiper-button-prev {
  background-image: url("/sources/medias/01_accueil/boutonSwiper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 3vmax !important;
  height: 3vmax !important;
  @media screen and (max-width: 768px) {
    & {
      width: 6vmax !important;
      height: 6vmax !important;
    }
  }
}

.swiper-button-next::after {
  content: " " !important;
}
.swiper-button-next {
  background-image: url("/sources/medias/01_accueil/boutonSwiper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 3vmax !important;
  height: 3vmax !important;
  transform: scaleX(-100%);
  @media screen and (max-width: 768px) {
    & {
      width: 6vmax !important;
      height: 6vmax !important;
    }
  }
}

// DONS

.charity {
  width: 100%;
  background-color: col.$Asperge;
  &__wrapper {
    width: 100%;
    height: 100%;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 20px;
  }
  &__img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    &__gradient {
      background-image: linear-gradient(
        to left,
        rgba(112, 176, 116, 0),
        rgba(112, 176, 116, 0.1),
        rgba(112, 176, 116, 0.534),
        rgb(112, 176, 116)
      );
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }
  }
  &__imgContainer {
    position: relative;
  }
  &__button {
    padding: 10px;
    border-radius: 15px;
    background-color: col.$Blanc;
    color: col.$VertFor;
    font-weight: 900;
    border: none;
    &:hover {
      background-color: col.$VertFor;
      color: col.$Blanc;
    }
  }
}

@media screen and (max-width: 576px) {
  .charity__img__gradient {
    background-image: linear-gradient(
      to top,
      rgba(112, 176, 116, 0),
      rgba(112, 176, 116, 0.1),
      rgba(112, 176, 116, 0.534),
      rgb(112, 176, 116)
    );
  }
}

//PROGRAMMES

.programs {
  background-color: col.$BleuCol;
  &__card {
    padding: 20px;
    border: none;
    border-radius: 0px !important;
    font-size: ft.$text;
  }
  &__title {
    font-size: ft.$title1;
    font-weight: bold;
  }
}

// TÉMOIGNAGES

.feedback {
  background-image: url("/sources/medias/01_accueil/backgroundTemoignageLg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__wrapper {
    width: 100%;
    height: 100%;
  }
  &__title {
    padding: 25px 0;
    font-size: ft.$title1;
    font-weight: bold;
  }
}
.person {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: ft.$text;
    padding-bottom: 25px;
    &:nth-child(1) {
      .person__img {
        background-image: url("/sources/medias/01_accueil/temoin1.png");
      }
    }
    &:nth-child(2) {
      .person__img {
        background-image: url("/sources/medias/01_accueil/temoin2.png");
      }
    }
    &:nth-child(3) {
      .person__img {
        background-image: url("/sources/medias/01_accueil/temoin3.png");
      }
    }
  }
  &__img {
    width: 60%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__text {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .feedback {
    background-image: none;
    background-color: col.$BleuCol;
  }
}
.credits {
  text-align: center;
  position: fixed;
  left: 20%;
  border-radius: 0 0 10px 10px;
  background-color: col.$VertFor;
  width: 60%;
  z-index: 999999999;
  font-weight: 500;
  cursor: pointer;
  //height: 100px;
}
.credit_site {
  color: white;
  padding-top: 3px;
  margin: 0;
  font-size: 15px;
}
.asfq {
  font-size: 15px;
  color: white;
}
.asfq:hover {
  color: col.$Noir;
}
