@mixin carte {
  background-color: #bfd7ea;
  border: none;
}
.hero_equipe {
  background-color: #bfd7ea;
}

.equipe__titre {
  font-size: 50px;
  color: black;
  font-weight: 600;
}

.card-direction {
  @include carte;
}
