@use "colorsVar" as col;
@use "fontSizeVar" as ft;

//PAGE HISTOIRE

.timeline{
    height:20vmax;
    position: relative;
    &__line{
        height:25%;
        width:100%;
        position:absolute;
        background-color: col.$Asperge;
        bottom:0;
    }
    &__dot{
        height:70%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position:absolute;
        background-color: #fff;
    }
    &__event{
        position:absolute;
        top:20%;
        font-size: ft.$title3;
    }
}