@use "colorsVar" as col;

//HERO
.swiperProject{
    position:relative;
    z-index: 1;
}
.hero{
    width:100%;
    height:100%;
    margin-top: 104px;
    &__wrapper{
        width:100%;
        height:100%;
    }
    &__info{
        font-size: 16px;
        background-color: col.$BleuCol;
        height:45vmin;
    }
    &__text{
        padding:20px;
    }
    &__image{
        background-image: url("../assets/img/hero.png");
        background-size:cover;
        height:45vmin;
        background-position: center;
        z-index: 2;
        position:relative;
        &__gradient{
            background-image: linear-gradient(to right, rgba(191, 215, 234,0), rgba(191, 215, 234, 0.1), rgba(191, 215, 234, 0.534) , rgb(191, 215, 234));
            position:absolute;
            width:100%;
            height:100%;
            left:0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero{
        height:60vmin;
        &__info{
            height:60vmin;
        }
        &__image{
            height:60vmin;
        }
    }
}

@media screen and (max-width: 767px){
    .hero__image__gradient{
        background-image: linear-gradient(to bottom, rgba(191, 215, 234,0), rgba(191, 215, 234, 0.1), rgba(191, 215, 234, 0.534) , rgb(191, 215, 234));
    }
}

.swiper-pagination-bullet {
    width: 25px!important;
    height: 25px!important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: col.$Noir;
    opacity: 1!important;
    background: col.$Blanc!important;
    margin: 0 10px!important;
  }

  .swiper-pagination-bullet-active {
    background: col.$GrisArd!important;
  }

  //PROJECTS

  .projects{
    width:100%;
    height:80vmin;
    position:relative;        
    background-color: col.$Asperge;
    &__wrapper{
        padding:30px;
        z-index: 2;
        height:100%;
        width:100%;
        position:relative;
    }
    &__title{
        height:20%;
        font-size: 32px;
        font-weight: bold;
        color: col.$GrisArd;
    }
    &__list{
        height:80%;
    }
    &__greenBarContainer{
        width:100%;
        height:90%;
        bottom:0%;
        position:absolute;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__greenBar{
        width:100%;
        height:20%;
        background-color: col.$VertFor;

        z-index: 1;
        &:nth-child(1){
            top:10%;
            display:none;
        }
        &:nth-child(2){
            top:50%;
            display:none;
        }
        &:nth-child(3){
            position:absolute;
            bottom:20%;
        }
    }
    &__container{
        background-color: black;
    }
  }

 @media screen and (max-width: 768px) {
.projects__greenBarContainer{
    justify-content: space-around;
}
.projects__greenBar{
    &:nth-child(1){
        display:block;
    }
    &:nth-child(2){
        display:block;
    }
    &:nth-child(3){
        position:relative;
        bottom:0;
    }
}
}

//ACTUALITÉS

.actuality{
    width:100%;
    height:60vh;
    background-color: col.$BleuCol;
    position:relative;
    &__title{
        height: 20%;
        font-size: 32px;
        font-weight: bold;
        color: col.$GrisArd;
        padding-top:50px;
    }
    &__wrapper{
        width:100%;
        height:100%;
    }
    &__swiper{
        position:absolute;
        height:80%;
        &:nth-child(2){
            bottom:0;
        }
    }
    &__img{
        height: auto;
        &__source{
            display:block;
            width:100%;
            height: 100%;
        object-fit: fill;
        }
        &__gradient{
            background-image: linear-gradient(to right, rgba(191, 215, 234,0), rgba(191, 215, 234, 0.1), rgba(191, 215, 234, 0.534) , rgb(191, 215, 234));
            position:absolute;
            width:100%;
            height:100%;
            left:0;
        }
    }
}

.swiperActIMG{
    z-index: 2;
}
.swiperActTXT{
    right:0;
}

@media screen and (max-width: 768px) {
    .actuality{
        height:80vh;
    }
    .actuality__swiper{
        height:40%;
    }
}

// DONS

.charity{
    height:45vh;
    width:100%;
    &__wrapper{
        width:100%;
        height:100%;
    }
    &__text{
        background-color: col.$Asperge;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0;
        font-size:20px;
    }
    &__img{
        background-image: url("/sources/medias/01_accueil/image_dons.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position:relative;
        &__gradient{
            background-image: linear-gradient(to left, rgba(112, 176, 116,0), rgba(112, 176, 116, 0.1), rgba(112, 176, 116, 0.534) , rgb(112, 176, 116));
            position:absolute;
            width:100%;
            height:100%;
            left:0;
        }
    }
    &__row{
        height:100%;
    }
    &__button{
        width:20%;
    }
}

@media screen and (max-width: 576px) {
    .charity{
        height:60vh;
    }
    .charity__img__gradient{
        background-image: linear-gradient(to top, rgba(112, 176, 116,0), rgba(112, 176, 116, 0.1), rgba(112, 176, 116, 0.534) , rgb(112, 176, 116));
    }
}

// TÉMOIGNAGES

.feedback{
    height:60vh;
    &__wrapper{
        width:100%;
        height:100%;
        background-image: url("/sources/medias/01_accueil/backgroundTemoignageLg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
    }
    &__title{
        padding-top:25px;
        font-size:32px;
        font-weight: bold;
    }
}