.genericHero {
  top: 103px;
}
#titre_hub {
  height: 20vmin;
  padding-top: 10px;
  padding-left: 33px;
  color: #1a3a3a;
  line-height: 0.8;
  opacity: 0.8;
}
.texte_titre {
  color: black;
  font-size: 17px;
}
.hub_services {
  background-color: #bfd7ea;
}
